.title-content h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  text-transform: uppercase;
  float: left;
  text-align: center;
  letter-spacing: 0;
  padding: 0 0 20px 0;
  position: relative;
}
.card-body h3 {
  font-size: 20px;
  text-align: center;
}
.card-body p {
  font-size: 18px;
  text-align: center;
}
.card {
  height: 100% !important;
}
.card-body {
  padding: 0px;
}
.img-list {
  width: 100%;
  height: 50%;
}
.button-control {
  display: flex;
  justify-content: space-between;
}
.button-control .btn {
  margin: 5px;
}
.card_pros {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3), 1fr;
  gap: 10px;
}
.item-product {
  padding: 10px;
}
