* {
  box-sizing: border-box;
}
.productlist {
  max-width: 500px;
  margin: 0 auto;
  margin: 40px 0px;
}
.product {
  margin: 1rem 0;
}
@supports (display: grid) {
  .productlist {
    max-width: 10000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
  .product {
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
}

/*Internal Properties*/
.productlist {
  font-family: Avenir, Roboto, Helvetica, san-serif;
  font-size: 85%;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  100% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-5px);
  }
}

.product {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  padding-bottom: 40px;
  border-radius: 10px;
  border: 1px solid #000000;
  position: relative;
}
.product:hover {
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);

  transform: translateY(-3px);
}

h2 {
  height: auto;
  width: 100%;
  font-size: 1.7em;
  text-align: center;
}
.inventory {
  color: #000000;
  text-align: center;
  margin: 0 0 0rem;
}
.inventory h2 {
  font-size: 20px;
}
.cost {
  color: #000000;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 0 2.2rem;
}
.image {
  order: -1;
  align-self: center;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 3px 3px 0 0;
  box-sizing: border-box;
}
.cart {
  margin: 0 auto;
}
.cart button {
  border: none;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}
.cart .view-detail {
  height: 100%;
  margin-right: 15px;
  background-color: #000000;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500px;
}
.cart .btn-add-cart {
  height: 100%;
  background-color: #000000;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500px;
}
