.tophead {
  height: 70px;
  width: 100%;
  font-size: 14px;
}

.container {
  height: 100%;
}
.container .row {
  height: 100%;
}
.content-header {
  width: 100%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: row-reverse;
  .phone-header {
    padding: 0 20px;
    border-left: 1px solid #ebebeb;
  }
  .search-box-pc {
    padding: 0 20px;
    border-left: 1px solid #ebebeb;
  }
  .account_header {
    padding: 0 20px;
    border-left: 1px solid #ebebeb;
  }
  .cartgroup {
    padding: 0 20px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    background: url("//bizweb.dktcdn.net/100/091/133/themes/880367/assets/bg-cart.png?1665385034327")
      #35c0c5;
    a {
      color: black;
    }
    i {
      color: black;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.d_flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d_flex_center i {
  margin-right: 10px;
  color: #35c0c5;
}
.d_flex_center button {
  color: #35c0c5;
}
.form-search {
  display: flex;
  position: relative;
}
.form-search .btn-search1 {
  position: absolute;
  width: 40px;
  height: 100%;
  right: 0px;
  background: transparent;
}
.form-search .btn-search1 i::before {
  margin-left: 5px;
}
.login_header {
  padding: 0 20px;
  border-left: 1px solid #ebebeb;
}
.login_header:hover {
  padding: 0 20px;
  border-left: 1px solid #ebebeb;
  background: url("//bizweb.dktcdn.net/100/091/133/themes/880367/assets/bg-cart.png?1665385034327")
    #35c0c5;
  a {
    color: white;
  }
  i {
    color: white;
  }
}
.register_header {
  padding: 0 20px;
  border-left: 1px solid #ebebeb;
}
.register_header:hover {
  padding: 0 20px;
  border-left: 1px solid #ebebeb;
  background: url("//bizweb.dktcdn.net/100/091/133/themes/880367/assets/bg-cart.png?1665385034327")
    #35c0c5;
  a {
    color: white;
  }
  i {
    color: white;
  }
}
.dropdown_show {
  padding: 30px;
  background-color: #000000c7;
  height: auto;
  position: absolute;
  width: 100%;
  z-index: 100;
  .level0 {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    .level1.item:before {
      position: absolute;
      content: "";
      width: 1px;
      height: calc(100% - 14px);
      background: #464646;
      left: 0;
      top: 8px;
    }
    .level1 {
      padding-left: 10px;
      position: relative;
      .h4 {
        a {
          font-size: 14px;
          text-transform: uppercase;
          color: #35c0c5 !important;
        }
      }
      .h4:hover {
        a {
          color: white !important;
        }
      }
      a {
        color: white !important;
        text-decoration: none;
      }
      .level2:hover {
        a {
          color: #35c0c5 !important;
        }
      }
      ul {
        padding-left: 0 !important;
        padding-right: 40px;
        li {
          margin-bottom: 6px;
        }
      }
    }
  }
  .bot_header {
    position: relative;
  }
}
